In [153]:
import pandas as pd

In [154]:
# object for columns to open 
columns = ["submission_id", "body", "score", "year", "month"]

In [155]:
# open comments from each subreddit
dcforrent_comments = pd.read_csv("./data/_12_4_comments_DCforRent_df.csv", usecols=columns)
washdc_comments = pd.read_csv("./data/_12_4_comments_washdc_df.csv", usecols=columns)
washingtondc_comments = pd.read_csv("data/washingtondc_12_4_comments.csv", usecols=columns)

# open threads from each subreddit
dcforrent_threads = pd.read_csv("./data/_12_4_threads_DCforRent_df.csv")
washdc_threads = pd.read_csv("./data/_12_4_threads_washdc_df.csv")
washingtondc_threads = pd.read_csv("data/washingtondc_12_4_threads.csv")

In [156]:
# add columns identifying subreddit and type (thread/comment) to each df

dcforrent_comments["subreddit"] = 0
washdc_comments["subreddit"] = 1
washingtondc_comments["subreddit"] = 2

dcforrent_comments["type"] = 1
washdc_comments["type"] = 1
washingtondc_comments["type"] = 1

dcforrent_threads["subreddit"] = 0
washdc_threads["subreddit"] = 1
washingtondc_threads["subreddit"] = 2

dcforrent_threads["type"] = 0
washdc_threads["type"] = 0
washingtondc_threads["type"] = 0

### Merge Dataframes

In [157]:
comments_df = pd.concat([dcforrent_comments, washdc_comments,washingtondc_comments])
comments_df

,submission_id,body,score,year,month,subreddit,type
0,y57cbw,Or Cleveland Park in DC,4,2022,10,0,1
1,y57cbw,Takoma Park MD,3,2022,10,0,1
2,y57cbw,Baltimore,3,2022,10,0,1
3,y57cbw,If you are looking for a quiet neighborhood wi...,3,2022,10,0,1
4,y57cbw,I lived in the DeLano Apartments in Woodley Pa...,2,2022,10,0,1
...,...,...,...,...,...,...,...
22861,p90h2e,[deleted],1,2021,8,2,1
22862,p90h2e,Hmm actually you make a lot of sense here. Th...,1,2021,8,2,1
22863,p90h2e,You probably know if better than I do. In the ...,1,2021,8,2,1
22864,p90h2e,[deleted],-1,2021,8,2,1
22865,p90h2e,Let’s be real - if I worked in CH real estate ...,2,2021,8,2,1

In [158]:
threads_df = pd.concat([dcforrent_threads, washdc_threads,washingtondc_threads])
threads_df.head()

,submission_id,title,text,year,month,subreddit,type
0,y57cbw,"Best quiet, safe but lively neighborhood in DC",I am in my late 30s and haven't lived in DC si...,2022,10,0,0
1,utr8aw,What Neighborhoods in DC/Mayland Should Be Avo...,NaN,2022,5,0,0
2,32cqd6,Recommendations on safe neighborhoods for a yo...,I'm moving to DC from the South in a few weeks...,2015,4,0,0
3,20t3z6,Find out how safe the neighborhood you want to...,NaN,2014,3,0,0
4,1h3ldb4,1 Month of Free Rent in 770 SQFT. High Rise Ap...,Apartment Takeover Opportunity: Market House i...,2024,11,0,0

### Clean text in threads

In [159]:
threads_df["text"] = threads_df["title"].astype(str) + " " + threads_df["text"].astype(str)
threads_df = threads_df.drop(["title"],axis=1)

In [160]:
threads_df.head()

,submission_id,text,year,month,subreddit,type
0,y57cbw,"Best quiet, safe but lively neighborhood in DC...",2022,10,0,0
1,utr8aw,What Neighborhoods in DC/Mayland Should Be Avo...,2022,5,0,0
2,32cqd6,Recommendations on safe neighborhoods for a yo...,2015,4,0,0
3,20t3z6,Find out how safe the neighborhood you want to...,2014,3,0,0
4,1h3ldb4,1 Month of Free Rent in 770 SQFT. High Rise Ap...,2024,11,0,0

### Create Unique ID for comments

In [161]:
comments_df["comment_id"] = list(range(len(comments_df)))

In [162]:
comments_df['id'] = comments_df['subreddit'].astype(str) + '_' + comments_df['type'].astype(str) + '_' + comments_df['submission_id'].astype(str) + '_' + comments_df['comment_id'].astype(str)

In [163]:
comments_df

,submission_id,body,score,year,month,subreddit,type,comment_id,id
0,y57cbw,Or Cleveland Park in DC,4,2022,10,0,1,0,0_1_y57cbw_0
1,y57cbw,Takoma Park MD,3,2022,10,0,1,1,0_1_y57cbw_1
2,y57cbw,Baltimore,3,2022,10,0,1,2,0_1_y57cbw_2
3,y57cbw,If you are looking for a quiet neighborhood wi...,3,2022,10,0,1,3,0_1_y57cbw_3
4,y57cbw,I lived in the DeLano Apartments in Woodley Pa...,2,2022,10,0,1,4,0_1_y57cbw_4
...,...,...,...,...,...,...,...,...,...
22861,p90h2e,[deleted],1,2021,8,2,1,31796,2_1_p90h2e_31796
22862,p90h2e,Hmm actually you make a lot of sense here. Th...,1,2021,8,2,1,31797,2_1_p90h2e_31797
22863,p90h2e,You probably know if better than I do. In the ...,1,2021,8,2,1,31798,2_1_p90h2e_31798
22864,p90h2e,[deleted],-1,2021,8,2,1,31799,2_1_p90h2e_31799
22865,p90h2e,Let’s be real - if I worked in CH real estate ...,2,2021,8,2,1,31800,2_1_p90h2e_31800

### Clean Up Comments

In [164]:
comments_df = comments_df.drop(comments_df[comments_df["body"]=="[removed]"].index)
comments_df = comments_df.drop(comments_df[comments_df["body"]=="[deleted]"].index)

In [165]:
comments_df

,submission_id,body,score,year,month,subreddit,type,comment_id,id
0,y57cbw,Or Cleveland Park in DC,4,2022,10,0,1,0,0_1_y57cbw_0
1,y57cbw,Takoma Park MD,3,2022,10,0,1,1,0_1_y57cbw_1
2,y57cbw,Baltimore,3,2022,10,0,1,2,0_1_y57cbw_2
3,y57cbw,If you are looking for a quiet neighborhood wi...,3,2022,10,0,1,3,0_1_y57cbw_3
4,y57cbw,I lived in the DeLano Apartments in Woodley Pa...,2,2022,10,0,1,4,0_1_y57cbw_4
...,...,...,...,...,...,...,...,...,...
22859,p90h2e,Fair enough !!,2,2021,8,2,1,31794,2_1_p90h2e_31794
22860,p90h2e,Apartment complexes offer security for people ...,6,2021,8,2,1,31795,2_1_p90h2e_31795
22862,p90h2e,Hmm actually you make a lot of sense here. Th...,1,2021,8,2,1,31797,2_1_p90h2e_31797
22863,p90h2e,You probably know if better than I do. In the ...,1,2021,8,2,1,31798,2_1_p90h2e_31798
22865,p90h2e,Let’s be real - if I worked in CH real estate ...,2,2021,8,2,1,31800,2_1_p90h2e_31800

In [166]:
new_order = ['comment_id', 'submission_id', 'subreddit', 'type', 'body', 'score', 'year', 'month']
comments_df = comments_df.reindex(columns=new_order)

In [168]:
comments_df

,comment_id,submission_id,subreddit,type,body,score,year,month
0,0,y57cbw,0,1,Or Cleveland Park in DC,4,2022,10
1,1,y57cbw,0,1,Takoma Park MD,3,2022,10
2,2,y57cbw,0,1,Baltimore,3,2022,10
3,3,y57cbw,0,1,If you are looking for a quiet neighborhood wi...,3,2022,10
4,4,y57cbw,0,1,I lived in the DeLano Apartments in Woodley Pa...,2,2022,10
...,...,...,...,...,...,...,...,...
22859,31794,p90h2e,2,1,Fair enough !!,2,2021,8
22860,31795,p90h2e,2,1,Apartment complexes offer security for people ...,6,2021,8
22862,31797,p90h2e,2,1,Hmm actually you make a lot of sense here. Th...,1,2021,8
22863,31798,p90h2e,2,1,You probably know if better than I do. In the ...,1,2021,8
22865,31800,p90h2e,2,1,Let’s be real - if I worked in CH real estate ...,2,2021,8

In [167]:
comments_df.drop("submission_id",axis=1)

,comment_id,subreddit,type,body,score,year,month
0,0,0,1,Or Cleveland Park in DC,4,2022,10
1,1,0,1,Takoma Park MD,3,2022,10
2,2,0,1,Baltimore,3,2022,10
3,3,0,1,If you are looking for a quiet neighborhood wi...,3,2022,10
4,4,0,1,I lived in the DeLano Apartments in Woodley Pa...,2,2022,10
...,...,...,...,...,...,...,...
22859,31794,2,1,Fair enough !!,2,2021,8
22860,31795,2,1,Apartment complexes offer security for people ...,6,2021,8
22862,31797,2,1,Hmm actually you make a lot of sense here. Th...,1,2021,8
22863,31798,2,1,You probably know if better than I do. In the ...,1,2021,8
22865,31800,2,1,Let’s be real - if I worked in CH real estate ...,2,2021,8

In [150]:
comments_df

,comment_id,submission_id,subreddit,type,author,body,score,year,month
0,0,y57cbw,0,1,NaN,Or Cleveland Park in DC,4,2022,10
1,1,y57cbw,0,1,NaN,Takoma Park MD,3,2022,10
2,2,y57cbw,0,1,NaN,Baltimore,3,2022,10
3,3,y57cbw,0,1,NaN,If you are looking for a quiet neighborhood wi...,3,2022,10
4,4,y57cbw,0,1,NaN,I lived in the DeLano Apartments in Woodley Pa...,2,2022,10
...,...,...,...,...,...,...,...,...,...
22859,31794,p90h2e,2,1,NaN,Fair enough !!,2,2021,8
22860,31795,p90h2e,2,1,NaN,Apartment complexes offer security for people ...,6,2021,8
22862,31797,p90h2e,2,1,NaN,Hmm actually you make a lot of sense here. Th...,1,2021,8
22863,31798,p90h2e,2,1,NaN,You probably know if better than I do. In the ...,1,2021,8
22865,31800,p90h2e,2,1,NaN,Let’s be real - if I worked in CH real estate ...,2,2021,8

In [73]:
threads_df

,submission_id,title,text,year,month,subreddit,type
0,y57cbw,"Best quiet, safe but lively neighborhood in DC",I am in my late 30s and haven't lived in DC si...,2022,10,0,0
1,utr8aw,What Neighborhoods in DC/Mayland Should Be Avo...,NaN,2022,5,0,0
2,32cqd6,Recommendations on safe neighborhoods for a yo...,I'm moving to DC from the South in a few weeks...,2015,4,0,0
3,20t3z6,Find out how safe the neighborhood you want to...,NaN,2014,3,0,0
4,1h3ldb4,1 Month of Free Rent in 770 SQFT. High Rise Ap...,Apartment Takeover Opportunity: Market House i...,2024,11,0,0
...,...,...,...,...,...,...,...
220,vd9zif,There have been 7 shootings in the city since ...,"Mainly in the SE and NE areas, but this is rid...",2022,6,2,0
221,10p64o,Fishing the Forgotten River in the Nation’s Ca...,NaN,2012,9,2,0
222,13ujjig,Rock Creek Thru Hike Update,Hi friends! Thank you for your support regardi...,2023,5,2,0
223,1gg547z,Was Attacked in the Capitol Hill Area (Near Li...,Hi! I went out for a run and was running throu...,2024,10,2,0
224,p90h2e,Thinking moving to Columbia Heights,"I've never been to DC before, but I will be st...",2021,8,2,0